<?xml version="1.0" encoding="utf-8"?>
<!--
    MIT License

    Copyright (c) 2022-2026 SOPT Makers

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.android.chrome" />
        <package android:name="com.chrome.beta" />
        <package android:name="com.chrome.dev" />
    </queries>
    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SOPT"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_channel_id" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="org.sopt.official.config.initializer.TimberInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".feature.auth.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.deeplink.DeepLinkSchemeActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sopt" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="${PLAYGROUND_HOST}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.attendance.AttendanceActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".stamp.SoptampActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.mypage.mypage.MyPageActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.mypage.signout.SignOutActivity"
            android:exported="false" />
        <activity
            android:name=".feature.mypage.soptamp.ui.AdjustSentenceActivity"
            android:exported="false" />
        <activity
            android:name=".feature.poke.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".feature.poke.main.PokeMainActivity"
            android:exported="false" />
        <activity
            android:name=".feature.poke.notification.PokeNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".feature.poke.friend.summary.FriendListSummaryActivity"
            android:exported="false" />

        <activity
            android:name=".auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="app" />
                <data android:host="org.sopt.makers.android" />
                <data android:pathPattern="/oauth2redirect" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.notification.all.NotificationActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.notification.detail.NotificationDetailActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".feature.notification.SchemeActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".feature.fortune.FortuneActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.schedule.ScheduleActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <service
            android:name=".config.messaging.SoptFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
